/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

HomeServices.zip

# Local SQLite Database
/database/database.sqlite
/database/database.sqlite-journal

# Storage & Logs
/storage/logs/*.log
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/livewire-components.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
/bootstrap/cache/config.php
/bootstrap/cache/routes-v7.php

# OS & Temp Files
.DS_Store
Thumbs.db

